* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("bg.jpg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

#profile-wrapper {
  text-align: center;
}

.profile-pic {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

ul.social-links {
  list-style-type: none;
  padding: 0;
}
.social-links li {
  display: inline-block;
}
.social {
  width: 30px;
  height: 30px;
}

#marky {
  color: green;
  background-color: hsla(89, 43%, 51%, 0.3);
  font-size: 1.2rem;
  font-weight: 500;
}
